@model PayMe2.ViewModels.Abscenses.IndexViewModel
@{
    ViewBag.Title = "Abscenses";
}

<h2>Abscenses</h2>

<p>
    <a href="@Url.Action("Create", new { id = Model.InstanceId })" class="btn btn-default">Add abscense</a>
</p>





<ul class="list-unstyled">
    @foreach (var item in Model.Persons)
    {
        <li>
            <h3>@item.User.FirstName @item.User.LastName</h3>
            <p>
                Total: @item.Sum days
            </p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>From</th>
                        <th>To</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var abs in item.Abscenses)
                    {
                        <tr>
                            <td>@abs.From.ToShortDateString()</td>
                            <td>@abs.To.ToShortDateString()</td>
                            <td>@abs.Description</td>
                            <td>@Html.ActionLink("Edit", "Edit", new { id = Model.InstanceId, abscenseId = abs.Id })</td>
                        </tr>
                    }
                </tbody>
            </table>
        </li>
    }
</ul>