@model PayMe2.ViewModels.Expenses.IndexViewModel
@{
    ViewBag.Title = "Expenses";
}

<h2>Expenses</h2>
<p>
    <a href="@Url.Action("Create", new { instanceId = Model.InstanceId })" class="btn btn-default">Add expense</a>
    <a href="@Url.Action("CreateMany", new { instanceId = Model.InstanceId })" class="btn btn-default">Add expenses from bank account</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Sum</th>
            <th>Shop</th>
            <th>Owner</th>
            <th>Category</th>
            <th>Affects</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Expenses)
        {
            <tr>
                <td>@item.Date</td>
                <td>@item.Sum</td>
                <td>@item.Shop</td>
                <td>@Model.Persons[item.OwnerId].GetName()</td>
                <td>@Model.Categories[item.CategoryId].Name</td>
                <th>@Model.GetUsers(item)</th>
            </tr>
        }
    </tbody>
</table>

