@model PayMe2.ViewModels.Instances.DetailsViewModel
@{
    ViewBag.Title = Model.Instance.Name;
}

<h1>@Model.Instance.Name</h1>

<section>
    <table class="table table-striped">
        <thead>
            <tr>
                <th />
                <th>Total paid</th>
                <th>Should pay</th>
                <th>Net</th>
                @foreach (var category in Model.Categories)
                {
                    <th>@category.Name</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var userbalance in Model.UserBalances)
            {
                <tr>
                    <td>@userbalance.User.GetName()</td>
                    <td>@userbalance.TotalAmountPaid.ToString("N2")</td>
                    <td>@userbalance.TotalExpenses.ToString("N2")</td>
                    <td class="@(userbalance.Balance < 0 ? "bad" : "good")">@userbalance.Balance.ToString("N2")</td>
                    @foreach (var category in Model.Categories)
                    {
                        <td>
                            @if (userbalance.ExpensesPerCategory.ContainsKey(category))
                            {
                                @userbalance.ExpensesPerCategory[category].ToString("N2")
                            }
                        </td>
                    }
                </tr>
            }
            <tr>
                <td><b>Totalt</b></td>
                <td>@Model.UserBalances.Sum(ub => ub.TotalAmountPaid).ToString("N2")</td>
                <td></td>
                <td></td>
                @foreach (var category in Model.Categories)
                {
                    <td>@Model.CalculateTotalExpense(category).ToString("N2")</td>
                }
            </tr>
            <tr>
                <td colspan="4"><b>Per person and day</b></td>
                @foreach (var category in Model.Categories)
                {
                    if (category.Type == servus.core.Entities.CategoryType.BasedOnPresence)
                    {
                        <td>@Model.CalculateTotalExpensePerDay(category).ToString("N2")</td>
                    }
                    else
                    {
                        <td></td>
                    }
                }
            </tr>
        </tbody>
    </table>
    <p>
        New members can join at @Model.JoinUrl with the code: @Model.Instance.JoinCode
    </p>
    <h2>History</h2>
    <ul>
        @foreach (var item in Model.LastChanges)
        {
            <li>@item.TimeUtc @item.EventType by @Model.GetName(item.UserId)</li>
        }
    </ul>
    <h2>Actions</h2>
    <ul>
        <li>@Html.ActionLink("Register abscense", "Create", "Abscense", new { instanceId = Model.Instance.Id }, null)</li>
        <li>@Html.ActionLink("Create category", "Create", "Category", new { instanceId = Model.Instance.Id }, null)</li>
        <li>@Html.ActionLink("Register expense", "Create", "Expense", new { instanceId = Model.Instance.Id }, null)</li>
    </ul>

    <h2>Lists</h2>
    <ul>
        <li>@Html.ActionLink("Abscenses", "Index", "Abscense", new { instanceId = Model.Instance.Id }, null)</li>
        <li>@Html.ActionLink("Categories", "Index", "Category", new { instanceId = Model.Instance.Id }, null)</li>
        <li>@Html.ActionLink("Expenses", "Index", "Expense", new { instanceId = Model.Instance.Id }, null)</li>
        <li>@Html.ActionLink("Transfers", "Index", "Transfer", new { instanceId = Model.Instance.Id }, null)</li>
    </ul>

    

</section>